POSTGRESQL_DATABASE_URL="postgres://"
PORT=
NODE_ENV="development"
BCRYPT_SALT_ROUNDS=10
JWT_SECRET="zQZpk7PcXdhzLi1Nv/K5mAFG0wNwewQIKYUnenIAJ2924rbWJydixaaDsJOF7aGlJP7XgeumgDLEU2KdOhpqGw=="
JWT_EXPIRY="7d"
